Options -MultiViews
RewriteEngine On
RewriteBase /

# Se o arquivo contendo .html existir, redirecione para ele
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ /$1.html [L]

# Caso padrão para SPA (evita 404)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/?$ /index.html [L]
